<h2>Available Articulate Modules</h2>
<%= link_to 'Mississippi Burning', mississippi_burning_path %>
<p>Learn about what happened in Mississippi that time.</p>
<br>
<br>
<%= link_to 'Gemini Landing', gemini_landing_path %>
<p>Learn all about the fictional trip to the Jovian moon Io.</p>
